{% extends 'store/main.html' %}

{% load static %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col">
        <div class="box-element">
            <form>
                <div id="user-info">
                    <p>User Information:</p>
                    <hr />

                    <div class="form-field">
                        <input required class="form-control" type="text" name="name" placeholder="Name" />
                    </div>
                    <div class="form-field">
                        <input required class="form-control" type="email" placeholder="abc@example.com" name="email">
                    </div>
                </div>
        </div>
    <div class="col">
        <div class="box-element">
            <form>
               <div id="shop-info">
                <hr>
                <p>Delivering Information:</p>
                <hr>
                <div class="form-field">
                    <input class="form-control" type="text" name="state" placeholder="Country..">
                </div>
                <div class="form-field">
                    <input class="form-control" type="text" name="city" placeholder="City..">
                </div>
                <div class="form-field">
                    <input class="form-control" type="text" name="address" placeholder="Address..">
                </div>
               </div>

            <div class="box-element" id="pay-element">
                <p>Pay form</p>
            </div>
            <a class="btn btn-outline-secondaty"   href="{% url 'cart' %}">Back to cart</a>
            <input class="btn btn-success" value="Continue" type="submit" />
            </form>
        </div>
     </div>

    </div>
</div>
</div>
{% endblock content %}