{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-md-auto">
            <img class="image-product" src="{{product.imageURl}}" />
            <div class="box product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr />
                <btn class="btn btn-outline-secondary">Add to cart</btn>
                <a class="btn btn-outline-success" href="#">View</a>
                <h5 style="display:inline-block;float:right" >{{product.price}}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}